<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

          <div class="main-navbar">
            <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
              <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                <div class="d-table m-auto">
                  <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;" src="../../images/shards-dashboards-logo.svg" alt="Shards Dashboard">
                  <span class="d-none d-md-inline ml-1">Sistem Informasi Cuti</span>
                </div>
              </a>
              <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
              </a>
            </nav>
          </div>
          <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
            <div class="input-group input-group-seamless ml-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-search"></i>
                </div>
              </div>
              <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search"> </div>
          </form>
          <div class="nav-wrapper">
            <ul class="nav flex-column">
                
              <li class="nav-item" th:if="${user == 'loginsuper'}">
                <a class="nav-link active" href="/karyawan/dasboard">
                  <i class="material-icons">view_module</i>
                  <span>Dasboard</span>
                </a>
              </li>
              <li class="nav-item" th:if="${user == 'loginsuper'}">
                <a class="nav-link active" href="/karyawan/assignment">
                  <i class="material-icons">view_module</i>
                  <span>Assigment</span>
                </a>
              </li>
              <li class="nav-item" th:if="${user == 'loginsuper'}">
                <a class="nav-link active" href="/karyawan/profilgroup">
                  <i class="material-icons">view_module</i>
                  <span>Profile Group</span>
                </a>
              </li>
              <li class="nav-item" th:if="${user == 'loginsuper'}">
                <a class="nav-link active" href="/karyawan/module">
                  <i class="material-icons">view_module</i>
                  <span>Module</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/karyawan/profil">
                  <i class="material-icons">person</i>
                  <span>Profile</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/karyawan/cuti">
                  <i class="material-icons">edit</i>
                  <span>Cuti</span>
                </a>
              </li>
            </ul>
          </div>